numpy
pandas>=2.0.0
matplotlib
seaborn
scikit-learn
statsmodels
tensorflow
tensorflow-probability
pymc
pvlib
# solarfactors   # Needs to be used instead of pvfactors since pvlib 0.10.1. Causes and error during installation (with Python 3.12)
bifacial_radiance
opencv-python
pyomo
kneed
arch
jupyterlab
pytest
hypothesis
click
black
pdoc3